  <header>
    <h1>Angular-Memory-Game</h1>
    <ul>
      <li>Score: <span>{{score}}</span></li>
      <li>Steps: <span>{{steps}}</span></li>
      <li>Timer: <span>{{timer}}</span></li>
    </ul>
  </header>



  <div *ngIf="gameStarted" class="board"
       [class.compare]="compare.length === 2">

    <ag-card-item *ngFor="let card of cardsArray;"
                  [cards]="card"
                  (checkCard$)="checkCard($event)"
    ></ag-card-item>
  </div>

  <div *ngIf="!gameStarted">
    <div *ngIf="score">
      You Score is => {{score}}
    </div>
    <button (click)="startGame()">Start Game</button>
  </div>



