  <header>
    <h1>Angular Memory Game</h1>
    <ul>
      <li>Score: <span>{{score}}</span></li>
      <li>Steps: <span>{{steps}}</span></li>
      <li>Timer: <span>{{timer}}</span></li>
    </ul>
  </header>

  <ul *ngIf="gameStarted" class="board" [class.compare]="compare.length === 2">
    <li *ngFor="let card of cardsArray;"
        [class.flip]="card.flip"
        [class.open]="card.open"
        (click)="checkCard(card)">
      <img [src]="card.image" [alt]="card.answer" [title]="card.answer">
    </li>
  </ul>

  <div *ngIf="!gameStarted">
    <div *ngIf="score">
      You Score is => {{score}}
    </div>
    <button (click)="startGame()">Start Game</button>
  </div>



